.chat {
	overflow: auto;
	margin: 10px 0 60px;
}

html {
	overflow-x: hidden;
}

.row {
	margin-bottom: 10px;
}

#chats-list .collection-item .avatar {
	width: 48px;
	height: 48px;
	left: 12px;
	top: 20%;
	color: white;
}

#chats-list .avatar.circle i {
	font-size: 48px;
}

#online-list .avatar.circle i {
	font-size: 42px;
	color: white;
}

p#nochats {
	position: absolute;
	top: 50%;
	left: calc(50% - 160px);
}

#chats-list #last_sent {
	position: absolute;
	right: 16px;
	top: 18px;
}

#chats-list .secondary-content {
	top: 50%;
	right: 12px;
	color: #707070;
}

.online-icon {
	position: absolute;
	left: 44px;
	bottom: 10px;
	border-radius: 50%;
	color: #1af10b;
}

#online-list .online-icon{
	bottom: 1px;
}

#unread-counter {
	position: absolute;
	bottom: 10px;
}

#chats-list .online-icon {
	font-size: 20px;
}

#online-list .online-icon {
	font-size: 12px;
}

msg {
	display: inline-block;
	max-width: calc(100% - 12px);
	word-break: break-word;
	text-overflow: ellipsis;
}

.chat {
	overflow: auto;
	margin: 10px 0;
}

.bubble {
	display: inline-block;
	padding: 5px 9px;
	position: relative;
	vertical-align: top;
	clear: both;
	word-break: break-word;
	max-width: 75%;
	border-radius: 5px
}

.bubble::before {
	content: "\00a0";
	display: block;
	height: 16px;
	position: absolute;
	top: 0;
	width: 20px;
	z-index: -1;
}

.bubble small {
	float: right;
}

.you {
	float: left;
	margin: 5px 45px 5px 20px;
	background-color: #e5e5e5;
}

.you::before {
	left: -4px;
	background-color: #e5e5e5;
	transform: rotate(54deg) skew(-35deg);
	-moz-transform: rotate(54deg) skew(-35deg);
	-ms-transform: rotate(54deg) skew(-35deg);
	-o-transform: rotate(54deg) skew(-35deg);
	-webkit-transform: rotate(54deg) skew(-35deg);
}

.me {
	float: right;
	margin: 5px 20px 5px 45px;
	background-color: #5ebb48;
	color: white;
}

.me::before {
	right: -4px;
	background-color: #5ebb48;
	transform: rotate(0deg) skew(-35deg);
	-moz-transform: rotate(0deg) skew(-35deg);
	-ms-transform: rotate(0deg) skew(-35deg);
	-o-transform: rotate(0deg) skew(-35deg);
	-webkit-transform: rotate(0deg) skew(-35deg);
}

#messageField, #messageField textarea, #chat-row {
	margin-bottom: 0;
}

#messageField {
	position: absolute;
	bottom: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
	0 3px 1px -2px rgba(0, 0, 0, 0.12),
	0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#messageField textarea {
	border: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
									   supported by Chrome and Opera */
}


.chip.small {
	height: 16px;
	font-size: 10px;
	line-height: 16px;
	padding: 0 6px;
}

.collection .collection-item.avatar {
	min-height: 62px;
}

.collection {
	border: none;
	width: 100%;
}
